<h1> <%= @conversation.title %> </h1>
<% @conversation.messages.each do |message| %>
  <div id=message-<%=message.id%>>
  <h3><%= message.text %> </h3>
    <h5> Thoughts: </h5>
    <ul>
    <% message.thoughts.each do |thought| %>
      <li id=thought-<%=thought.id%>> <%= thought.text %> </li>
    <% end %>
  </ul>
  <div class="button">
    <%=link_to "New Thought", "/conversations/#{@conversation.id}/messages/#{message.id}/thoughts/new" %>
  </div>

</div>
<% end %>
<br/>
<div class="button">
<%=link_to "New Message", "/conversations/#{@conversation.id}/messages/new" %>
</div>
